<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:include="layout/fragments :: html_head"></head>
    <link rel="stylesheet" href="/css/main.css">
    <title>카테고리 페이지</title>
</head>
<body>
<input type="hidden" th:value="${categoryId}" th:id="categoryId">
    <div class="container">
        <div th:replace="layout/fragments :: header"></div>
        <div th:replace="layout/fragments :: menu"></div>
    </div>
    <main class="container">
        <div th:replace="layout/PostFragment :: postList"></div>
    </main>

    <div th:replace="layout/fragments :: footer"></div>
</body>
<script src="/js/board/c_PostList.js"></script>
</html>