<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:include="layout/fragments :: html_head"></head>
    <link rel="stylesheet" href="/css/main.css">
    <title>비밀번호 변경 페이지</title>
</head>
<body>
    <div class="container">
        <div th:replace="layout/fragments :: header"></div>

        <div class="text-center my-5" style="width: 30%; float:none; margin:0 auto">
        <main class="w-100 m-auto">
            <form name="changePasswordForm">
                <h1 class="h3 mb-3 fw-normal">비밀번호 변경</h1>

                <div class="form-floating">
                    <input type="password" class="form-control" id="originPassword" placeholder="Password" name="originPassword">
                    <label for="originPassword">현재 비밀번호</label>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control" id="newPassword" placeholder="Password" name="newPassword">
                    <label for="newPassword">새 비밀번호</label>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control" id="newPassword2" placeholder="Password" name="newPassword2">
                    <label for="newPassword2">새 비밀번호 확인</label>
                </div>

                <button class="w-100 btn btn-lg btn-primary" type="button" onclick="checkAll()">수정</button>
                <p class="mt-5 mb-3 text-muted">&copy; sohyun2022</p>
            </form>
        </main>
        </div>
    </div>
    <div th:replace="layout/fragments :: footer"></div>
</body>
<script src="/js/myPage/changePassword.js"></script>
</html>