<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <head th:include="layout/fragments :: html_head"></head>
  <link rel="stylesheet" href="/css/main.css">
  <title>메인 페이지</title>
</head>

<body>
  <div class="container">
    <div th:replace="layout/fragments :: header"></div>

      <div class="row flex-nowrap py-3" >
        <div class="col-2"></div>
        <div class="col-2">
          <select class="form-select" aria-label="Default select example" id="searchType" name="searchType">
            <option value="1" selected>글 제목</option>
            <option value="2">글 내용</option>
            <option value="3">책 제목</option>
            <option value="4">저자</option>
            </option>
          </select>
        </div>
        <div class="col-5">
          <input type="text" class="form-control"  autocomplete="off" placeholder="Search..." aria-label="Search" id="search" name="search">
        </div>
        <div class="col-1">
          <input type="button" class="btn btn-outline-secondary" onclick="checkSearch()" th:value="검색">
        </div>
        <div class="col-2"></div>
      </div>

    <div th:replace="layout/fragments :: menu"></div>
  </div>

  <main class="container">
    <div class="row flex-nowrap align-items-center"style="margin-bottom: 1rem;">
      <div class="pt-1 col-2">
        <button class="btn btn-outline-primary rounded-pill" type="button" th:id="latest" onclick="sortByLatest()">최신순</button>
        <button class="btn btn-outline-secondary rounded-pill" type="button" th:id="view" onclick="sortByView()">조회순</button>
      </div>
      <div class="col-1">
        <select class="form-select" aria-label="Default select example" id="pageCnt" name="pageCnt" style="width: auto" onchange="changePageCnt()">
          <option value="1" selected>10</option>
          <option value="2">20</option>
          <option value="3">50</option>
        </select>
      </div>

      <div class="col-5"></div>
      <div class="col-4 text-end d-flex justify-content-end align-items-center">
        <a class="btn btn-dark" th:href="@{/board/write}">글쓰기</a>
      </div>
    </div>
  </main>
  <div th:replace="layout/PostFragment :: postList"></div>
  <div th:replace="layout/fragments :: footer"></div>
</body>
<script src="/js/board/search.js"></script>
<script src="/js/board/sortby.js"></script>
<script src="/js/board/main.js"></script>
<script src="/js/board/pageList.js"></script>
</html>